@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary caret-transparent;
}

.exo-2-100 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.exo-2-200 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.exo-2-300 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.exo-2-400 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-2-500 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.exo-2-600 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.exo-2-700 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-2-800 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.exo-2-900 {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.hide-scrollbar {
  overflow-y: auto; /* Enables scrolling */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Chrome, Edge, and Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer 10+ */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}

.card-slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.card-slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.card-slider-card {
  padding: 0.5rem;
  box-sizing: border-box;
}

.card-slider-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.card-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.card-slider-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.card-slider-dot-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}

.card-slider-dot-btn svg {
  width: 1rem;
  height: 1rem;
  color: gray;
}

.card-slider-dot-btn:hover svg,
.card-slider-dot-btn:focus svg {
  color: black;
}
